body{
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 6%;
    padding-right: 6%;
    
}

p{
    line-height: 1.75;
    font-size: large;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.7rem;
    font-weight: 100;
}
