body{
    font-family: 'Montserrat', sans-serif;
    padding-left: 6%;
     padding-right: 6%;
}

#title{
    background-color:skyblue;
    
}

.container-fluid{
    padding: 3% 6%;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700; /* black */
    color: #262A53;
}
#designpad{
    padding: 30px;
}
iframe{
    overflow: hidden;
}
.overlay{
    position: absolute;
    bottom: 180px;
    left: 47%;
}
.link-hover:hover{
    text-decoration: none;
    color: aqua;
}
#wayri{
    font-size: x-large;
    font-weight: 500;
}

.blur{
    -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  width: 100%;
  height: 30px;
  background-color: #ccc;
}
.arrow {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-style: solid;
    border-color: rgb(17, 0, 0);
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    height: 40px;
  }
  .size-icon{
      font-size: xx-large;
  }
  .link-hover{
      color: aqua;
  }
  .read-more:hover{color:aqua;}
  
 
